/* ## Flexible Grid - CSS Grid
---------------------------------------------------------------------------------------------------- */

@supports (display: grid) {

/* Flexible Grids fallback reset */
.gridcontainer .wrap section {
	padding: 0;
}
/* Columns */
.gridcontainer.coll4 section,
.gridcontainer.coll5 section,
.gridcontainer.coll6 section{
	float:none;
	@include grid(1, 0, 320);
	margin-bottom:inherit;
}
/* Columns full-width */
.gridcontainer.non.coll4 section.wysiwyg,
.gridcontainer.non.coll5 section.wysiwyg,
.gridcontainer.non.coll6 section.wysiwyg{
	float:none;
	@include grid(1, 0, 320);
	margin-bottom:inherit;
}
/* Columns full-width Back image */
.gridcontainer.non.coll4 section.backimage,
.gridcontainer.non.coll5 section.backimage,
.gridcontainer.non.coll6 section.backimage{
	float:none;
	@include grid(1, 0, 320);
}
/* Flexible Grids fallback reset end */

/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width
--------------------------------------------- */
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.wrap{
		display: -ms-grid;
		display: grid;
		grid-column-gap:30px;
		grid-row-gap:30px;
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		display: -ms-grid;
		display: grid;
		grid-column-gap:0px;
		grid-row-gap:0px;
	}
}
.gridcontainer.coll1{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll2{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll3{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll4{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll5{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll6{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.non.coll4 section.wysiwyg,
.gridcontainer.non.coll5 section.wysiwyg,
.gridcontainer.non.coll6 section.wysiwyg{
	padding: 30px;
}
	
	
	
	
/* Flexible Grids fallback reset 
.full-width-content .content .gridcontainer.coll1 section,
.gridcontainer.coll1 section,
.full-width-content .content .gridcontainer.coll2 section,
.gridcontainer.coll2 section,
.full-width-content .content .gridcontainer.coll3 section,
.gridcontainer.coll3 section,
.full-width-content .content .gridcontainer.coll4 section,
.gridcontainer.coll4 section,
.full-width-content .content .gridcontainer.coll5 section,
.gridcontainer.coll5 section,
.full-width-content .content .gridcontainer.coll6 section,
.gridcontainer.coll6 section{
	float:none;
	margin-right: auto;
	width: auto;
	margin-bottom:auto;
}
.content .gridcontainer.coll2 section,
.content .gridcontainer.coll3 section,
.content .gridcontainer.coll4 section,
.content .gridcontainer.coll5 section,
.content .gridcontainer.coll6 section {
	margin-right: auto;
	width: auto;
}
.content-sidebar-sidebar .content .gridcontainer.coll2, 
.sidebar-content-sidebar .content .gridcontainer.coll2, 
.sidebar-sidebar-content .content .gridcontainer.coll2,
.content-sidebar-sidebar .content .gridcontainer.coll3, 
.sidebar-content-sidebar .content .gridcontainer.coll3, 
.sidebar-sidebar-content .content .gridcontainer.coll3,
.content-sidebar-sidebar .content .gridcontainer.coll4, 
.sidebar-content-sidebar .content .gridcontainer.coll4, 
.sidebar-sidebar-content .content .gridcontainer.coll4,
.content-sidebar-sidebar .content .gridcontainer.coll5, 
.sidebar-content-sidebar .content .gridcontainer.coll5, 
.sidebar-sidebar-content .content .gridcontainer.coll5,
.content-sidebar-sidebar .content .gridcontainer.coll6, 
.sidebar-content-sidebar .content .gridcontainer.coll6, 
.sidebar-sidebar-content .content .gridcontainer.coll6 {
	margin-right: auto;
	width: auto;
}
.content .gridcontainer.non.coll2 section,
.content .gridcontainer.non.coll3 section,
.content .gridcontainer.non.coll4 section,
.content .gridcontainer.non.coll5 section,
.content .gridcontainer.non.coll6 section {
	margin-right: auto;
	width: auto;
}
*/
/* Flexible Grids fallback reset end */
	
/* # Flexible Grids
------------------------------------------------------------------------------------------ */

/* ## Grid Containers
---------------------------------------------
.gridcontainer{
	padding: 30px 0;
	.row_headline{
		width: 90%;
    	margin: 0 auto;
		margin: 0 auto 20px;
	}
	.wrap{
		display: grid;
		grid-column-gap:20px;
		grid-row-gap:20px;
		width: 90%;
    	margin: 0 auto;
		}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		display: grid;
		grid-column-gap:0px;
		grid-row-gap:0px;
		width: 100%;
		max-width: 100%;
		.wysiwyg{
			padding: 30px;
		}
	}
}

.gridcontainer.coll1{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll2{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll3{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll4{
	.wrap{
		grid-template-columns:1fr 1fr;
	}
}
.gridcontainer.coll5{
	.wrap{
		grid-template-columns:1fr 1fr;
	}
}
.gridcontainer.coll6{
	.wrap{
		grid-template-columns:1fr 1fr;
	}
}
*/

/* ## Genesis Layout Containers
---------------------------------------------
.content-sidebar .site-inner .gridcontainer.black,
.sidebar-content .site-inner .gridcontainer.black,
.content-sidebar-sidebar .site-inner .gridcontainer.black,
.sidebar-sidebar-content .site-inner .gridcontainer.black,
.sidebar-content-sidebar .site-inner .gridcontainer.black,
.content-sidebar .site-inner .gridcontainer.grey,
.sidebar-content .site-inner .gridcontainer.grey,
.content-sidebar-sidebar .site-inner .gridcontainer.grey,
.sidebar-sidebar-content .site-inner .gridcontainer.grey,
.sidebar-content-sidebar .site-inner .gridcontainer.grey{
	padding: 30px;
}
 */
	
}