/* ## Flexible Grid - CSS Grid
---------------------------------------------------------------------------------------------------- */
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width
--------------------------------------------- */
/* ## Grid Containers
---------------------------------------------------------------------- */

@supports (display: grid) {

/* Flexible Grids fallback reset */
.gridcontainer .wrap section {
	padding: 0;
}
/* Columns */
.gridcontainer.coll4 section,
.gridcontainer.coll5 section,
.gridcontainer.coll6 section{
	float:none;
	@include grid(1, 0, 320);
	margin-bottom:inherit;
}
/* Columns full-width */
.gridcontainer.non.coll4 section.wysiwyg,
.gridcontainer.non.coll5 section.wysiwyg,
.gridcontainer.non.coll6 section.wysiwyg{
	float:none;
	@include grid(1, 0, 320);
	margin-bottom:inherit;
}
/* Columns full-width Back image */
.gridcontainer.non.coll4 section.backimage,
.gridcontainer.non.coll5 section.backimage,
.gridcontainer.non.coll6 section.backimage{
	float:none;
	@include grid(1, 0, 320);
}
/* Flexible Grids fallback reset end */
	
	
.gridcontainer{
	.wrap{
		display: -ms-grid;
		display: grid;
		grid-column-gap:30px;
		grid-row-gap:30px;
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		display: -ms-grid;
		display: grid;
		grid-column-gap:0px;
		grid-row-gap:0px;
	}
}
.gridcontainer.coll1{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll2{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll3{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll4{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll5{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll6{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.non.coll4 section.wysiwyg,
.gridcontainer.non.coll5 section.wysiwyg,
.gridcontainer.non.coll6 section.wysiwyg{
	padding: 30px;
}
	
}