/* # Large screens
---------------------------------------------------------------------------------------------------- */
/* ## 80em / 1280 pixel
---------------------------------------------
---------------------------------------------
--------------------------------------------- */





/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width 
--------------------------------------------- */
/* ## Grid Containers
---------------------------------------------------------------------- */
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */





@media only screen and (min-width: 80em) {


/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	max-width: 1200px;
}
/* ## Site Containers
---------------------------------------------------------------------- */
.content-sidebar .site-inner{
	max-width: 1200px;
}
.sidebar-content .site-inner{
	max-width: 1200px;
}
.content-sidebar-sidebar .site-inner{
	max-width: 1200px;
}
.sidebar-sidebar-content .site-inner{
	max-width: 1200px;
}
.sidebar-content-sidebar .site-inner{
	max-width: 1200px;
}
/* ### Site Containers Full-width 
--------------------------------------------- */
.full-width-content .site-inner .content .entry{
	max-width: 1200px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: 1200px;
	}
	.wrap{
		max-width: 1200px;
	}
}
.gridcontainer{
	.backimage{
		min-height: 550px;
	}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets .wrap {
	max-width: 1200px;
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */
	
}

/* # Large screens end
---------------------------------------------------------------------------------------------------- */