/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
---------------------------------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
}

.site-inner{
	margin: 0 auto;
	width:100%;
	margin-top: 30px;
}

.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width:100%;
	.entry,
	.sidebar-primary,
	.sidebar-secondary{
		margin: 0 auto;
		max-width: 90%;
		margin-bottom: 30px;
	}
}

/* ### Site Containers Full-width
--------------------------------------------- */

.full-width-content .site-inner .content .breadcrumb,
.full-width-content .site-inner .content .entry{
	width:90%;
	margin: 0 auto;
}
.full-width-content .site-inner .content .entry{
	margin-bottom: 30px;
}

/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	padding: 30px 0;
	.row_headline{
		width: 90%;
    	margin: 0 auto;
		margin: 0 auto 20px;
	}
	.wrap{
		width: 90%;
    	margin: 0 auto;
		section{
			padding: 30px 0 0;
		}
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		width: 100%;
		.wysiwyg{
			margin: 0 auto;
			padding: 30px 0;
			width: 90%;
		}
	}
}
.gridcontainer{
	.backimage{
		min-height: 250px;
		background-size: cover;
    	background-position: 50% 50%;
	}
}
.gridcontainer{
	.gridimage{
		min-height: 100%;
		object-fit: cover;
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.black{
	background-color: $color-black;
	color: $color-white;
	.row_headline{
		color: $color-white;
	}
}
.gridcontainer.grey{
	background-color: tint($color-black, 60%);
}

/* ### Grid Containers - Site Containers
--------------------------------------------- 
.content-sidebar .site-inner .gridcontainer.black,
.sidebar-content .site-inner .gridcontainer.black,
.content-sidebar-sidebar .site-inner .gridcontainer.black,
.sidebar-sidebar-content .site-inner .gridcontainer.black,
.sidebar-content-sidebar .site-inner .gridcontainer.black,
.content-sidebar .site-inner .gridcontainer.grey,
.sidebar-content .site-inner .gridcontainer.grey,
.content-sidebar-sidebar .site-inner .gridcontainer.grey,
.sidebar-sidebar-content .site-inner .gridcontainer.grey,
.sidebar-content-sidebar .site-inner .gridcontainer.grey{
	padding: 30px 0;
}
*/